*.pyc
*.swo
*.swp
.ninja_deps
.ninja_log
/*.taghl
/.buildSettings
/.clang_complete
/CMakeCache.txt
/CMakeFiles
/bin
/build.ninja
/cmake_install.cmake
/compile_commands.json
/rules.ninja
/swig/hide*_wrap.cxx
/swig/hide*_wrap.h
/tags
